@import "tailwindcss";


:root {
  --background: 28 28 32; 
  --accent: 0 255 153; 
}

body {
  background-color: #1c1c22;
  color: #ffffff;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #00ff99;
  border-radius: 10px;
}
/* global */